<div id="<%= dom_id comentario %>">
  <p>
    <strong>Id plan:</strong>
    <%= comentario.id_plan %>
  </p>

  <p>
    <strong>Nickname:</strong>
    <%= comentario.nickname %>
  </p>

  <p>
    <strong>Cuerpo:</strong>
    <%= comentario.cuerpo %>
  </p>

  <p>
    <strong>Rating:</strong>
    <%= comentario.rating %>
  </p>

</div>
